/* Style.css */
/* do not copy pls */

@media screen and (max-width:780px) {
    header {
        height: 50px;
    }

    h1 {
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }

    nav, li, a {
        font-size: 12px;
        padding: 10px;
    }

    nav, li :hover {
        padding: 5px 10px 10px 10px;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 800;
}

header {
    height: 100px;
}

footer {
    height: 100px;
    text-align: center;
    background-color: lightgray;
    border-top: 3px solid darkgray;
    padding-top: 30px;
}

nav {
    width: 100%;
    height: 75px;
    background-color: darkgrey;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style: none;
    float: inline-start;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

section {
    width: 100%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.Globale {
    margin: 0 10%;
}

.AccueilGauche {
    display: inline-block;
    width: 25%;
}

.AccueilDroit {
    display: inline-block;
    width: 25%;
}

.CompteGauche {
    display: inline-block;
    vertical-align: top;
    width: 15%;
}

.CompteDroit {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.ProduitGauche {
    display: inline-block;
    width: 20%;
}

.ProduitDroit {
    display: inline-block;
    width: 40%;
}

.Gauche {
    display: inline-block;
    width: 20%;
}

.Droite {
    display: inline-block;
    width: 10%;
}

.Gauche-Comp, .SousGauche {
    float: left;
    width: 50%;
}

.Droite-Comp, .SousDroite {
    float: right;
    width: 50%;
}

.Globale::after, .SousGlobale ::after {
    content: "";
    clear: both;
    display: table;
}

.Centre {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.NavAccueil :hover {
    border-top: 5px solid lightskyblue;
    background-color: rgba(135, 206, 250, 0.3);
}

.NavBoutique :hover {
    border-top: 5px solid red;
    background-color: rgba(255, 0, 0, 0.3);
}

.NavPanier :hover {
    border-top: 5px solid lightgreen;
    background-color: rgba(144, 238, 144, 0.3);
}

.NavAdmin :hover {
    border-top: 5px solid steelblue;
    background-color: rgba(70, 130, 180, 0.3);
}

.NavUtilisateur :hover {
    border-top: 5px solid lightsalmon;
    background-color: rgba(255, 160, 122, 0.3);
}

.BoutonGauche {
    display: inline-block;
    width: 20%;
}

.BoutonMilieu {
    display: inline-block;
    width: 20%;
}

.BoutonDroit {
    display: inline-block;
    width: 20%;
}

.btn {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn-add {
    background-color: #008CBA;
}

.btn-mod {
    background-color: #4CAF50;
}

.btn-del {
    background-color: #f44336;
}

.btn:hover {
    opacity: 1;
}

.FormulaireGauche {
    display: inline-block;
    width: 20%;
}

.FormulaireDroit {
    display: inline-block;
    width: 20%;
}